@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.aniWord {
  animation-name: word;
  animation-duration: 8s;
  animation-fill-mode: both;
}
.pasar {
  animation-name: pasa;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.pasar2 {
  animation-name: pasa2;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.pasar3 {
  animation-name: pasa3;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.pasar4 {
  animation-name: pasa4;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.nose{
  width: 0vh;
  height: 0vh;
  background-color: red;
}
.container{
  scroll-snap-type: x mandatory;
  overflow-x: scroll
}
.slide-item{
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");


.canvas-confetti-btn {
  font-size: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  .tool-tip {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: rgb(100,100,100);
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -8px;
      bottom: -5px;
      background-color: #fff;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
    }
  }
  &:hover {
    .tool-tip {
      animation: none;
      opacity: 0;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}

@keyframes word {
  from {@apply hidden text-xl text-transparent;}
  to {@apply flex text-7xl font-bold text-white;}
}
@keyframes pasa {
  from {display: flex;transform: rotate(12deg);}
  to {display: none;transform: rotate(0deg);}
}
@keyframes pasa2 {
  from {display: none;width: 0px; }
  to {display: flex; @apply w-full}
}
@keyframes pasa3 {
  from {display: none;transform: rotate(0deg);}
  to {display: flex;transform: rotate(12deg);}
}
@keyframes pasa4 {
  from {display: flex;}
  to {display: none;}
}